.div1 {
  display: flex;
}
.div1 .divA {
  display: flex;
  background-color: rgb(0, 0, 0);
  width: 600px;
  color: white;
  justify-content: center;
  align-items: center;
}
.div1 .divB {
  display: flex;
  background-color: black;
  justify-content: flex-end;
  width: 100%;
}
.ItemList {
  display: flex;
  flex-wrap: wrap;
}
